.catalog {
  max-width: 1126px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 120px;
}

.catalog h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  padding-left: 0;
  margin: 0;
}

.catalog__item {
  position: relative;
  display: flex;
  list-style-type: none;
  max-width: 260px;
  height: 386px;

  &:hover .catalog__text,
  &:focus-visible .catalog__text,
  &:hover .catalog__button,
  &:focus-visible .catalog__button {
    display: block;
  }

  &:hover,
  &:focus-visible {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 53px 258px 75px;
    background-color: $color-tangaroa;
  }

  &:hover .catalog__box,
  &:focus-visible .catalog__box {
    display: block;
  }

  &:hover .catalog__box h3,
  &:focus-visible .catalog__box h3 {
    padding: 28px 24px 0 25px;
  }

  &:hover .catalog__image,
  &:focus-visible .catalog__image {
    display: none;
  }
}

.catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: $color-tangaroa;
}

.catalog__box {
  display: flex;
  grid-row: 1/3;
  grid-column: 1/2;
  overflow: scroll;
}

.catalog__box h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
  margin: 0;
  margin-top: auto;
  padding: 0 30px 23px;
  align-self: self-end;
}

.catalog__text {
  display: none;
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  padding-top: 14px;
  padding-right: 15px;
}

.catalog__text li {
  list-style-type: none;
  margin: 0;
}

.catalog__text h4,
.catalog__text p {
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  color: $color-alice-blue;
}

.catalog__text h4 {
  font-weight: 500;
  margin-bottom: 2px;
}

.catalog__text p {
  font-weight: 400;
  margin-bottom: 11px;
}

.catalog__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  background-color: $color-alice-blue;
  max-width: 100%;
  padding: 10px 0 9px;
  margin: 0 25px 35px;
  user-select: none;
  display: none;
  grid-column: 1/2;
  grid-row: 3/4;
  cursor: pointer;

  @include hover-focus {
    color: $color-tangaroa;
    background-color: $color-maya-blue;
  }

  @include active {
    color: $color-alice-blue;
    background-color: $color-maya-blue;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .catalog__list {
    gap: 20px;
  }

  .catalog__link {
    padding: 329px 0 30px 20px;
  }

  .catalog__box .catalog__botton {
    padding: 12px 33px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .catalog {
    padding-bottom: 100px;
  }

  .catalog h2 {
    font-size: 26px;
    margin-bottom: 52px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 309px);
    gap: 30px;
  }

  .catalog__box {
    padding-top: 27px;
    padding-left: 5px;
  }

  .catalog__item {
    max-width: 309px;

    &:hover .catalog__box,
    &:focus-visible .catalog__box {
      padding-top: 0;
      padding-left: 10px;
    }
  }

  .catalog__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catalog__box h3 {
    padding-bottom: 29px;
  }

  .catalog__box p {
    max-width: 208px;
  }

  .catalog__button {
    margin-left: 35px;
    margin-right: 35px;
    padding: 9px 62px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .catalog {
    padding: 55px 10px 65px 10px;
  }

  .catalog h2 {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .catalog__list {
    grid-template-columns: 1fr;
  }

  .catalog__item {
    max-width: 100%;

    &:hover .catalog__box,
    &:focus-visible .catalog__box {
      padding-left: 0;
    }
  }

  .catalog__box {
    padding-top: 28px;
    padding-left: 0;
  }

  .catalog__box h3 {
    padding-bottom: 18px;
    padding-left: 25px;
  }

  .catalog__button {
    margin-left: 25px;
    padding: 10px 52px;
  }
}
