.catalog {
  max-width: 1126px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 120px;
}

.catalog h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  padding-left: 0;
  margin: 0;
}

.catalog__box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa;
  padding-top: 27px;
  padding-left: 25px;
}

.catalog__box h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 15px;
}

.catalog__text {
  padding-left: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog__text li {
  list-style-type: none;
  margin: 0;
}

.catalog__text h4,
.catalog__text p {
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  color: $color-alice-blue;
}

.catalog__text h4 {
  font-weight: 500;
  margin-bottom: 2px;
}

.catalog__text p {
  font-weight: 400;
  margin-bottom: 11px;
}

.catalog__box .catalog__botton {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  background-color: $color-alice-blue;
  padding: 12px 46px;
}

.catalog__item {
  position: relative;
  background-color: $color-tangaroa;
  list-style-type: none;
  height: 386px;

  &:hover .catalog__box,
  &:focus-visible .catalog__box {
    display: block;
  }

  &:hover .catalog__link,
  &:focus-visible .catalog__link {
    display: none;
  }
}

.catalog__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.catalog__link {
  // display: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
  padding: 337px 0 30px 30px;
  margin-top: auto;
}

@media (max-width: ($vp-1440 - 1px)) {
  .catalog__list {
    gap: 20px;
  }

  .catalog__link {
    padding: 329px 0 30px 20px;
  }

  .catalog__box {
    padding-top: 15px;
    padding-left: 15px;
  }

  .catalog__box .catalog__botton {
    padding: 12px 33px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .catalog {
    padding-bottom: 100px;
  }

  .catalog h2 {
    font-size: 26px;
    margin-bottom: 52px;
  }

  .catalog__img {
    height: 386px;
    max-width: 309px;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 309px);
    gap: 30px;
  }

  .catalog__link {
    padding: 330px 0 30px 35px;
  }

  .catalog__box {
    padding-top: 27px;
    padding-left: 34px;
  }

  .catalog__box p {
    max-width: 208px;
  }

  .catalog__box .catalog__botton {
    padding: 11px 62px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .catalog {
    padding: 55px 10px 65px 10px;
  }

  .catalog h2 {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .catalog__list {
    grid-template-columns: 1fr;
  }

  .catalog__link {
    padding-top: 340px;
    padding-bottom: 19px;
  }

  .catalog__box {
    padding-top: 28px;
    padding-left: 25px;
  }

  .catalog__box .catalog__botton {
    padding: 11px 52px;
  }
}
