.contacts {
  padding: 120px 0;
}

.contacts h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.contacts__container {
  display: flex;
  column-gap: 100px;
}

.contacts__map {
  position: relative;
  width: 560px;
  height: 306px;
}

.contacts__picture {
  position: absolute;
  width: 100%;
  height: auto;
}

.contacts__box {
  max-width: 500px;
  padding-top: 74px;
}

.contacts__box p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}

.contacts__text {
  margin-bottom: 33px;
}

.contacts__link,
.contacts__address {
  display: flex;
  column-gap: 10px;
  margin: 0;
  margin-bottom: 22px;
}

.contacts__link {
  @include hover-focus {
    color: $color-maya-blue;
    outline: none;
  }

  &:hover .contacts__img,
  &:focus-visible .contacts__img {
    fill: $color-maya-blue;
    outline: none;
  }

  @include active {
    color: $color-prussian-blue;
    opacity: 0.7;
  }
}

.contacts__link p,
.contacts__address p {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.contacts__img {
  fill: $color-tangaroa;
  width: 18px;
  height: auto;
}

@media (max-width: ($vp-1440 - 1px)) {
  .contacts__box {
    padding-top: 0;
    align-items: center;
    max-width: 445px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .contacts {
    padding: 100px 0;
  }

  .contacts__container {
    column-gap: 30px;
  }

  .contacts__box {
    padding-top: 66px;
    max-width: 324px;
  }

  .contacts__picture {
    height: 335px;
    width: auto;
    object-fit: cover;
  }

  .contacts__map {
    height: 337px;
  }

  .contacts__text {
    margin-bottom: 27px;
  }

  .contacts__link p,
  .contacts__address p {
    max-width: 255px;
  }

  .contacts__img {
    height: 22px;
  }

  .contacts__img--one {
    margin-top: 5px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .contacts {
    padding-top: 56px;
    padding-bottom: 43px;
  }

  .contacts__container {
    flex-direction: column-reverse;
  }

  .contacts__box {
    padding-top: 0;
  }

  .contacts__map {
    width: 100%;
    margin-top: 14px;
  }
}
