.firstscreen {
  position: relative;
  background-color: $color-tangaroa;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  min-height: 649px;
}

@media (max-width: $vp-1440) {
  .firstscreen {
    background-size: 100% 649px;
  }
}

@media (min-width: $vp-1024) {
  .firstscreen {
    @include graphic-retina("home-screen-background");
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .firstscreen {
    @include graphic-retina("home-screen-background-tablet");
    min-height: 638px;
    background-size: cover;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .firstscreen {
    min-height: 500px;

    @include graphic-retina("home-screen-background-mobile");
  }
}
