.footer {
  padding: 50px 0;
  background-color: $color-tangaroa;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 0;
  margin: 0;
}

.footer__link {
  color: $color-alice-blue;
  padding: 15px;

  @include hover-focus {
    color: $color-maya-blue;
    outline: none;
  }

  @include active {
    color: $color-pattens-blue;
    opacity: 0.6;
  }
}

.footer__social {
  margin-left: auto;
}

@media (max-width: ($vp-1440 - 1px)) {
  .footer__list {
    gap: 10px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .footer__list {
    gap: 0;
    margin-top: -6px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
    padding: 12px;
  }

  .footer__logo {
    margin-right: 13px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer {
    padding: 42px 0;
  }

  .footer__logo {
    margin-bottom: 28px;
  }

  .footer__container,
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__list {
    gap: 8px;
    margin-bottom: 23px;
  }

  .footer__link {
    padding-left: 0;
  }

  .footer__social {
    margin-left: -3px;
  }
}
