.form {
  padding: 50px 0;
  background-color: $color-maya-blue;

  @include graphic-retina("shape-background");
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 144px;
}

.form__box {
  max-width: 493px;
}

.form__box h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 6px;
  margin-top: -8px;
}

.form__box p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  max-width: 352px;
}

.form__box br {
  display: none;
}

.form__inner {
  width: 403px;
  background-color: $color-tangaroa;
  padding: 50px;
  padding-top: 44px;
}

.form__inner p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 12px;
}

.form__field label,
.form__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__checkbox {
  position: relative;
  margin-top: 10px;
  padding-left: 23px;
}

.form__checkbox label {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;
  padding-top: 8px;

  @include hover-focus {
    color: $color-maya-blue;
  }

  @include active {
    color: $color-default-white;
  }
}

.form__checkbox label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: $color-alice-blue;
}

.form__checkbox input:hover + label::before,
.form__checkbox input:focus-visible + label::before {
  background-color: $color-maya-blue;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;
  width: 12px;
  height: 8px;
  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px 8px;
  cursor: pointer;
}

.form__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  padding: 11px 80px;
  border: none;
  margin-top: 31px;
  width: 100%;
  cursor: pointer;
  background-color: $color-alice-blue;

  @include hover-focus {
    background-color: $color-maya-blue;
    color: $color-tangaroa;
    outline: $color-maya-blue;
  }

  @include active {
    background-color: $color-maya-blue;
    color: $color-alice-blue;
  }
}

@media (max-width: ($vp-1920 - 1px)) {
  .form {
    background-size: cover;
  }
}

@media (max-width: ($vp-1440 - 1px)) {
  .form__button {
    padding: 11px 60px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .form {
    padding-top: 87px;
    padding-bottom: 100px;
  }

  .form__container {
    flex-direction: column;
  }

  .form__box {
    margin-bottom: 54px;
  }

  .form__box h2 {
    text-align: center;
    font-size: 34px;
    margin: 0 auto 4px auto;
  }

  .form__box p {
    max-width: 390px;
    text-align: center;
    margin: 0 auto;
  }

  .form__inner {
    padding-top: 42px;
  }

  .form__inner p {
    margin-bottom: 14px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .form {
    padding-top: 60px;
    padding-bottom: 64px;
  }

  .form__box {
    margin-bottom: 34px;
  }

  .form__box h2 {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 12px;
  }

  .form__box p {
    font-size: 16px;
    line-height: 140%;
    max-width: 100%;
  }

  .form__inner {
    width: 100%;
    max-width: 400px;
    padding: 33px 30px 40px 30px;
  }

  .form__inner p {
    line-height: 142%;
    text-align: center;
  }

  .form__box br {
    display: block;
  }

  .form__checkbox {
    margin-top: 4px;
    padding-left: 28px;
  }

  .form__checkbox label {
    line-height: 12px;
  }

  .form__checkbox label::before {
    top: 9px;
    width: 20px;
    height: 20px;
  }

  .form__checkbox input[type="checkbox"]:checked + label::after {
    top: 16px;
  }

  .form__button {
    margin-top: 28px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
