.header {
  padding: 25px 0;
  z-index: 1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
}

.header__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.header__item {
  list-style-type: none;
}

.header__link {
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
  padding: 16px;

  @include hover-focus {
    border-bottom: 1px solid $color-alice-blue;
    outline: none;
  }

  @include active {
    border-bottom: 1px solid $color-alice-blue;
    opacity: 0.3;
  }
}

.header__button {
  display: none;
}

@media (max-width: ($vp-1024 - 1px)) {
  .header {
    padding: 12px 0;
  }

  .header__list {
    margin-right: -11px;
  }

  .header__link {
    font-size: 14px;
    line-height: 17px;
    padding: 12px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .header {
    padding: 21px 0;
  }

  .header__button {
    position: absolute;
    top: 4px;
    right: -2px;
    display: block;
    width: 24px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    z-index: 2;
    padding: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      right: 20px;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }

    @include hover-focus {
      opacity: 0.6;
    }

    @include active {
      opacity: 0.3;
    }
  }

  .header__nav--closed .header__list {
    display: none;
  }

  .header__nav--nojs .header__button {
    display: none;
  }

  .header__nav--nojs .header__list {
    position: absolute;
    min-height: 0;
    margin-top: 0;
    top: 6px;
    left: 50px;
  }

  .header__nav--nojs .header__item {
    display: block;
  }

  .header__nav--opened {
    display: block;
    position: fixed;
    height: 100vh;
    width: calc(100% - 35px);
    right: 0;
    background-color: $color-alice-blue;
    margin-top: -18px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -14%;
      width: 100vw;
      height: 100vh;
      background-color: $color-tangaroa;
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      width: 42px;
      height: 22px;
      top: 17px;
      left: 12px;
      background-image: url("../img/svg/logo-mobile.svg");
      z-index: 2;
    }
  }

  .header__nav--opened .header__list {
    display: block;
    position: fixed;
    height: 100vh;
    width: calc(100% - 35px);
    top: -3px;
    background-color: $color-alice-blue;
    margin: 0;
    padding-top: 84px;
    padding-left: 12px;
    z-index: 1;
  }

  .header__nav--opened .header__item {
    margin-bottom: 26px;
  }

  .header__nav--opened .header__link {
    color: $color-tangaroa;
    font-size: 18px;
    line-height: 22px;
  }

  .header__nav--opened .header__button::after,
  .header__nav--opened .header__button::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 22px;
    width: 18px;
    height: 2px;
    background-color: $color-tangaroa;
    box-shadow: none;
  }

  .header__nav--opened .header__button::after {
    transform: rotate(45deg);
  }

  .header__nav--opened .header__button::before {
    transform: rotate(-45deg);
  }
}
