.header {
  padding: 26px 0;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  user-select: none;
}

.header__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  gap: 1px;
}

.header__item {
  list-style-type: none;
}

.header__link {
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
  padding: 16px;
  user-select: none;

  @include hover-focus {
    border-bottom: 1px solid $color-alice-blue;
    outline: none;
  }

  @include active {
    border-bottom: 1px solid $color-alice-blue;
    opacity: 0.3;
  }
}

.header__button {
  display: none;
}


@media (max-width: ($vp-1024 - 1px)) {
  .header {
    padding: 12px 0;
  }

  .header__list {
    margin-right: -11px;
  }

  .header__link {
    font-size: 14px;
    line-height: 17px;
    padding: 12px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .header {
    padding: 21px 0;
  }

  .header__button {
    position: absolute;
    top: 6px;
    right: 0;
    display: block;
    width: 24px;
    height: 12px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    z-index: 2;
    padding: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      right: 15px;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }

    @include hover-focus {
      opacity: 0.6;
    }

    @include active {
      opacity: 0.3;
    }
  }

  .header--closed .header__list {
    display: none;
  }

  .header--nojs .header__button {
    display: none;
  }

  .header--nojs .header__list {
    position: absolute;
    min-height: 0;
    margin-top: 0;
    top: 6px;
    left: 50px;
  }

  .header--nojs .header__item {
    display: block;
  }

  .header--opened {
    position: fixed;
    top: 0;
    left: 36px;
    height: 100vh;
    background-color: $color-alice-blue;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -36px;
      width: 37px;
      height: 100vh;
      overflow: hidden;
      background-color: rgba(0, 43, 102, 0.5);
      pointer-events: none;
    }
  }

  .header--opened .header__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    row-gap: 22px;
    padding-left: 16px;
    background-color: #f9fbfd;
    animation: slide-in .3s;
    overflow: scroll;
    height: 100%;
  }

  .header--opened .header__logo {
    justify-self: flex-start;
    fill: $color-tangaroa;
  }

  .header--opened .header__navigation-list {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    overflow: scroll;
    overflow: scroll;
    height: 100%;
  }

  .header--opened .header__list {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .header--opened .header__item {
    margin-bottom: 25px;
    pointer-events: all;
  }

  .header--opened .header__link {
    color: $color-tangaroa;
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
  }

  .header--opened .header__button {
    justify-self: flex-end;
  }

  .header--opened .header__button::after,
  .header--opened .header__button::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 12px;
    width: 18px;
    height: 2px;
    background-color: $color-tangaroa;
    box-shadow: none;
    pointer-events: all;
  }

  .header--opened .header__button::after {
    transform: rotate(45deg);
  }

  .header--opened .header__button::before {
    transform: rotate(-45deg);
  }
}
