.main-screen {
  position: relative;
  padding-top: 270px;
  padding-bottom: 279px;
  padding-left: 193px;
  box-shadow: 0 4px 4px $color-black;
}

.main-screen h1 {
  color: $color-alice-blue;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px $color-black;
  margin: 0;
}

.main-screen p {
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px $color-black;
  color: $color-alice-blue;
  margin: 0;
  margin-top: 12px;
}

@media (max-width: ($vp-1440 - 1px)) {
  .main-screen {
    padding-left: 191px;
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .main-screen {
    padding-bottom: 277px;
    padding-top: 267px;
    padding-left: 0;
    box-shadow: none;
  }

  .main-screen h1 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  .main-screen p {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-screen {
    padding-top: 175px;
    padding-bottom: 178px;
  }

  .main-screen h1 {
    font-size: 36px;
    line-height: 125%;
  }

  .main-screen p {
    font-size: 16px;
    line-height: 140%;
    max-width: 200px;
  }
}
