.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  padding-left: 0;
  margin: 0;
  margin-top: 12px;
}

.social__link {
  &:hover .social__img,
  &:focus-visible .social__img {
    fill: $color-maya-blue;
  }

  &:focus-visible {
    outline: none;
  }

  &:active .social__img {
    fill: $color-pattens-blue;
  }
}

.social__img {
  fill: $color-alice-blue;
}

@media (max-width: ($vp-1024 - 1px)) {
  .social__img {
    width: 16px;
    height: 16px;
  }

  .social__list {
    gap: 21px;
    margin-top: 6px;
  }
}
