.container {
  max-width: 1160px;
  margin: 0 auto;

  @include vp-1439 {
    max-width: 1160px;
    margin: 0 auto;
  }

  @include vp-1279 {
    max-width: 904px;
    margin: 0 auto;
  }

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}
