.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.firstscreen {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-tangaroa;
    background-size: 100% 670px;
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: $vp-1024) {
  .firstscreen::before {
    @include graphic-retina("home-screen-background");
  }
}

@media (max-width: ($vp-1024 - 1px)) {
  .firstscreen::before {
    @include graphic-retina("home-screen-background-tablet");
    height: 638px;
    background-size: auto 638px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .firstscreen::before {
    height: 500px;

    @include graphic-retina("home-screen-background-mobile");
    background-size: auto 500px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  transition: none;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.form__checkbox .is-invalid  {
  // position: absolute;
  font-size: 12px;
  color: $color-torch-red;
}
