// Vendor
// ---------------------------------

@import "vendor/normalize";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/custom-input";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/logo";
@import "blocks/social";
@import "blocks/main-screen";
@import "blocks/description";
@import "blocks/benefits";
@import "blocks/catalog";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/firstscreen";
